<!DOCTYPE html>
<html>
   <head>
   <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
   </head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script type="text/javascript"
src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script>
	function deleteLine(obj) {
    	var tr = $(obj).parent().parent();
    	tr.remove();
	}
	$(() => {
	    const socket = io('http://localhost:8080');	
			socket.on('reqMsg', (id, status) => {
				$(function(){
       		 		$(".id").text(id);
       		 		$(".status").text(status);
    			});
		});
	});
</script>
<body>
	<table>
      <tr>
         <th> id </th>
         <th> status </th>
      </tr>
      <tr>
    	<td class="id"></td>
    	<td class="status"></td>
  	  </tr>   
</body>
</html>