<!DOCTYPE html>
<html>
   <head>
   <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<script type="text/javascript"
src="https://code.jquery.com/jquery-2.1.0.min.js">
</script>
<script type="text/javascript">
    $(function(){
        $('id').text('konnichiha');
    });
</script> 
<body>
   <table>
      <tr>
         <th> 학번 </th>
         <th> 상태 </th>
      </tr>
      <tr>
    	<td class="id"></td>
    	<td class="status"></td>
  	  </tr>      
</body>